@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");

body {
  font-family: "Noto Sans TC", sans-serif;
}
button {
  @apply text-xs rounded-md px-4 py-5;
}

.btn-primary {
  @apply bg-blue-500 text-white;
  max-width: 6rem;
}

.btn-secondary {
  @apply px-4 py-1 border-gray-500 border-2 rounded-full;
}

input {
  @apply border-b-2 border-black focus:border-b-2 focus:border-blue-400 focus:outline-none;
}

.input-text {
  border-bottom: 0.13rem solid black;
}

.card {
  @apply border-gray-300 border-2 px-3 py-5 my-2 rounded-lg;
}
